<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Bing 搜索实在是太垃圾了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00139105</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>M真的是个垃圾.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.001369</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>一干活我就生气.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141394</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>不会被无效的信息拖着走.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00140595</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>不写就活不下去.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00142002</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>互联网老人 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>767758224.74212801</real>
				<key>lastModification</key>
				<real>767758224.74212801</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>互联网老人.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00136304</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>人生没有白走的路.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137198</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>人真的好神奇.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00136697</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>以后我的各个平台的内容分发就雇一个人好了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137401</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>午饭餐桌旁的自言自语.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137103</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>吃饭就专心吃饭.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138903</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>周一杂记.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141895</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>嗯 我进步了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138199</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>就写写回忆好了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141799</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我他妈一定要和同事或者领导搞好关系.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141203</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我依然很愤怒.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141597</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我写够9万字了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141895</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我发现自己在不经意间写了3万字.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138402</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我只是不想每次手动输入时间而已.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00139594</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我就当夜间我的身体在进行某种修复活动.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137806</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我快哭了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138795</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我现在觉得我整个人是自由的.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137603</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我现在觉得我靠写作释放我的感性我靠工作安放我的理性.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00139403</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我的生气是正当的但我不一定非要让它主导我的行为.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137997</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我腌的鸡腿好好吃.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00139296</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我被AI工具气到了续集.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138903</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我被AI工具气笑了 v2.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00138605</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我觉得这种事情幼稚.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00140202</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我討厭別人說話和放屁一樣.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00141799</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我设置一下我的Github Pages 好了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00142002</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>我靠AI理解写作 1.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00140905</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>曲不成曲 调不成调.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00136399</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>沒電了.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00140798</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>灯光下的那种波光粼粼的状态.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00139904</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>番茄切碎后在油锅里咕咕煮沸的声音好好听啊.md</key>
			<dict>
				<key>lastModification</key>
				<real>767757708.00137806</real>
				<key>version</key>
				<dict>
					<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>互联网老人.md</string>
		</array>
		<array>
			<string>互联网老人 - 2.md</string>
		</array>
		<array>
			<string>曲不成曲 调不成调.md</string>
		</array>
		<array>
			<string>人真的好神奇.md</string>
		</array>
		<array>
			<string>M真的是个垃圾.md</string>
		</array>
		<array>
			<string>午饭餐桌旁的自言自语.md</string>
		</array>
		<array>
			<string>人生没有白走的路.md</string>
		</array>
		<array>
			<string>以后我的各个平台的内容分发就雇一个人好了.md</string>
		</array>
		<array>
			<string>我现在觉得我整个人是自由的.md</string>
		</array>
		<array>
			<string>番茄切碎后在油锅里咕咕煮沸的声音好好听啊.md</string>
		</array>
		<array>
			<string>我就当夜间我的身体在进行某种修复活动.md</string>
		</array>
		<array>
			<string>我的生气是正当的但我不一定非要让它主导我的行为.md</string>
		</array>
		<array>
			<string>嗯 我进步了.md</string>
		</array>
		<array>
			<string>我发现自己在不经意间写了3万字.md</string>
		</array>
		<array>
			<string>我被AI工具气笑了 v2.md</string>
		</array>
		<array>
			<string>我快哭了.md</string>
		</array>
		<array>
			<string>我被AI工具气到了续集.md</string>
		</array>
		<array>
			<string>吃饭就专心吃饭.md</string>
		</array>
		<array>
			<string>Bing 搜索实在是太垃圾了.md</string>
		</array>
		<array>
			<string>我腌的鸡腿好好吃.md</string>
		</array>
		<array>
			<string>我现在觉得我靠写作释放我的感性我靠工作安放我的理性.md</string>
		</array>
		<array>
			<string>我只是不想每次手动输入时间而已.md</string>
		</array>
		<array>
			<string>灯光下的那种波光粼粼的状态.md</string>
		</array>
		<array>
			<string>我觉得这种事情幼稚.md</string>
		</array>
		<array>
			<string>不会被无效的信息拖着走.md</string>
		</array>
		<array>
			<string>沒電了.md</string>
		</array>
		<array>
			<string>我靠AI理解写作 1.md</string>
		</array>
		<array>
			<string>我他妈一定要和同事或者领导搞好关系.md</string>
		</array>
		<array>
			<string>一干活我就生气.md</string>
		</array>
		<array>
			<string>我依然很愤怒.md</string>
		</array>
		<array>
			<string>就写写回忆好了.md</string>
		</array>
		<array>
			<string>我討厭別人說話和放屁一樣.md</string>
		</array>
		<array>
			<string>周一杂记.md</string>
		</array>
		<array>
			<string>我写够9万字了.md</string>
		</array>
		<array>
			<string>不写就活不下去.md</string>
		</array>
		<array>
			<string>我设置一下我的Github Pages 好了.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d65ada5bfc988f655cdf45f3214ea105b949228ac13c71d327749a76c709caca</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
